.btn-setting {
  border-width: 2px;
  border-color: $accent-color;
  border-style: solid;
  border-radius: 50%;
  padding: 25px 33px;
  color: #374A3D;
  font-weight: 600;
  font-size: 18px;
  line-height: 18px;
  position: relative;
  display: inline-block;
  transition: 0.2s;
     span {
    &::after {
      content: url("./../img/arrows_in_btn.svg");
      padding-left: 8px;
      display: inline-block;
      transition: 0.2s;
    }
  }
  &::after {
    content: url("./../img/arrow_sec_2.png");
    display: block;
    position: absolute;
    left: calc(100% + 60px);
    top: 17px;
  }

  &:hover {
    color: $accent-color;
    text-decoration: none;
  }

}