.section_2, .section_3 {
  margin-top: 50px;

  h1 {
    margin-bottom: 30px;
  }

  p {
    margin-bottom: 30px;
  }
}

.section_3 {
  .padding-first-card {
    padding-top: 120px;
  }


  .card-global {
    box-shadow: 8px 9px 42px rgba(12, 169, 65, 0.12);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    //max-width: 268px;
    //max-height: 264px;
    .second-card {
      //margin-bottom: 20px;
    }
    .third-card {
      //margin-top: 5px;
    }
    .min-img-yellow {
      //background: url("./../img/bg-yellow.svg") center no-repeat;

    }

    .min-img {
      //background: url("./../img/circle_bg.svg") bottom no-repeat;
      padding-top: 20px;
      width: 52px;
      height: 52px;


      .max-width-img {
        max-width: 100%;
      }
    }

    h1 {
      min-width: 133px;
    }

    p {
      min-width: 217px;
    }

  }
}
