.section_1 {
  .section-tools {
    background: #FFFFFF;
    border-radius: 28px;
    margin-top: 20px;

    .h1-settings {
      font-size: 30px;
      min-width: 289px;
      line-height: 40px;
    }

    .text-accent {
      color: $accent-color;
      background: $accent-background;
    }

    .color-p-accent {
      color: $p-accent-color;
    }

    .p-settings {
      color: #5B7262;
      line-height: 26px;
    }
  }
}
