$accent-color: #0CA941;
$p-accent-color: #678570;
$accent-background: url("./../img/circle_bg.svg") left no-repeat;
@import "./../../node_modules/bootstrap/scss/bootstrap";
@import "text";
@import "section2";
@import "btn";

body {
  font-family: 'Roboto', sans-serif;
  background: #E5E5E5;
}

h1,h2,h3,h4,h5,h6 {
  font-family: 'Fredoka', sans-serif;
  font-weight: 600;
}